<!DOCTYPE html>
<html>
  <head>
    <title>file-size-r</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Upload file to view size
    </h1>
    <div id="line">
      
    </div>
    <form action="/form" method="post" enctype="multipart/form-data">
      <div class="file">
        <input type="file" id="file-picker" name="user-file">
      </div>
      <div class="button">
        <button type="submit">
          Submit your file
        </button>
      </div>
    </form>
  </body>
</html>